:root {
  --color-lime: #F50D1B;
  --color-blue-500: #FF5A5F;
  --color-blue-400: #FF9A9F;
  --color-blue-300: #FFF1F2;
  --color-black-300: #8A8A8A;
  --color-black-400: #3A3A3A;
  --color-black-500: #121212;
  --color-white: #FFFFFF;
  --color-light-white: #E6E6E6;
  --color-black-100: #F4F4F4;
}
